<ActionBar title="Record" icon="" class="action-bar">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="back()"></NavigationButton>
</ActionBar>
<StackLayout class="p-20">
    <Label text="TODO: Record" class="h1 text-center"></Label>
</StackLayout>