<!-- <ActionBar title="TNSStudio" class="action-bar">
</ActionBar>
<GridLayout rows="*, 100" columns="*" class="page">
    <track-list row="0" col="0"></track-list>
    <player-controls row="1" col="0"></player-controls>
</GridLayout> -->
<page-router-outlet></page-router-outlet>