<ActionBar [title]="title" class="action-bar">
    <ActionItem nsRouterLink="/mixer/home">
        <Button text="List" class="action-item"></Button>
    </ActionItem>
    <ActionItem nsRouterLink="/record" ios.position="right">
        <Button text="Record" class="action-item"></Button>
    </ActionItem>
</ActionBar>