<ActionBar title="Compositions" class="action-bar">
    <ActionItem (tap)="mixerService.add()" ios.position="right">
        <Button text="New" class="action-item"></Button>
    </ActionItem>
</ActionBar>
<ListView [items]="mixerService.list | orderBy:'order'" class="list-group">
    <ng-template let-composition="item">
        <GridLayout rows="auto" columns="100,*,auto" class="list-group-item">
            <Button text="Edit" row="0" col="0" (tap)="mixerService.edit(composition)"></Button>
            <Label [text]="composition.name" [nsRouterLink]="['/mixer', composition.id]" class="h2" row="0" col="1"></Label>
            <Label [text]="composition.tracks.length" class="text-right" row="0" col="2"></Label>
        </GridLayout>
    </ng-template>
</ListView>